*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.App{
  width: 75%;
  min-height: 100vh;
  /* max-height: auto; */
  margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}